.b{
	width: 30%;
	height: 15em;
	margin: 1%;
	float: left;
	transition:1s;
	border-radius: 15%;
}

a{
	margin:0;
}
h2{
	padding:0;
	margin:0;
}

#result{
	text-align: center;
	font-size: 80px;
	height:80px;
}
#menu{
	background:white;
	margin:0;
}

#head{
	margin:0;
	padding:0;
	color:white;
}

.head{
	text-align: center;
	margin:0;

}

#newColor{
	text-decoration: none;
	font-size:30px;
}

#newColor:hover{
	cursor: pointer;
}
#container{
	padding-top:5%;
	padding-left:20%;
	padding-right:20%;
	margin: 0;
	/*background:black;*/
}

body{
	border: 0;
	margin:0;
	padding:0;
	height:100%;
}
html{
	background:rgb(50, 50, 56);
	margin:0;
	height:100%;
}
